body {
    background-color: lightskyblue;
}

h1 {
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}

label {
    font-size: medium;
    color: mediumblue;
    font-style: oblique;
}

#time-option {
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    border: none;
}

#save-btn {
    display: block;
    margin-top: 40px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: dodgerblue;
    color: ghostwhite;
    font-weight: bold;
}